<div class="logo"><img src="../imgs/s-logo.svg" /></div>
<div class="nav-panel">
  <div>Игровое поле</div>
  <div class="<%= path === '/users' ? 'active' : '' %>">Рейтинг</div>
  <div>Активные игроки</div>
  <div>История игр</div>
  <div>Список игроков</div>
</div>
<button><img src="../imgs/signout-icon.svg" /></button>
