:root {
  --clr-primary: #06c2aa;
  --clr-primary-light: #60c2aa4d;
  --clr-primary-dark: #3ba089;

  --clr-secondary: #e38bac;

  --clr-gray-700: #373745;
  --clr-gray-400: #898993;
  --clr-gray-300: #b1b1b7;
  --clr-gray-100: #dcdcdf;
  --clr-gray-50: #f7f7f7;
  --clr-gray-white: #ffffff;

  --clr-background: #f6f6f6;

  --clr-system-success: #69b849;
  --clr-system-danger: #e93e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--clr-gray-700);
  line-height: 24px;
  letter-spacing: 0.24px;
}

body {
  background: var(--clr-background);
  height: 100vh;
}

button {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

/* Header */
header {
  position: fixed;
  /* width: -webkit-fill-available; */
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;

  background: var(--clr-gray-white);
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.nav-panel div {
  padding: 4px 12px;
  font-weight: 500;
}

.nav-panel .active {
  background: var(--clr-primary);
  border-radius: 200px;
  color: var(--clr-gray-white);
}

.nav-panel .active:hover {
  background: var(--clr-primary-dark);
}

/* XO Panel */
.main-container {
  margin-top: 64px;
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.subject-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  max-width: 500px;

  background: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

.subject-list > .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subject-list > .container > .subject-container {
  display: flex;
  gap: 12px;
}

.subject-list .subject-name {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.subject-list .subject-percent {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--clr-gray-400);
}

.subject-list .subject-icon {
  width: 24px;
  height: 24px;
}

.game-container {
  max-width: 663px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.game-time {
  width: fit-content;
  padding: 24px;

  background: #ededed;
  border-radius: 12px;

  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.game-board .cell {
  width: 218.33px;
  height: 218.33px;

  background: var(--clr-gray-white);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-step {
  width: 400px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-size: 20px;
  letter-spacing: 0.15px;

  color: var(--clr-gray-white);
  background: var(--clr-gray-700);
}

.chat-container {
  max-width: 412px;
  align-self: flex-end;
  margin-bottom: 88px;
}

.msgs-container {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  padding-bottom: 20px;
}

.msg-container {
  width: 352px;
  padding: 12px;
  background: var(--clr-gray-white);
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}
.msg-container:not(:first-child) {
  margin-top: 12px;
}
.msg-container.me + .msg-container.me,
.msg-container.other + .msg-container.other {
  margin-top: 8px;
}
.msg-container.other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}
.msg-container.me {
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;

  padding-bottom: 8px;
}

.subject-name {
  font-weight: 500;
}

.subject-name.x {
  color: var(--clr-primary);
}
.subject-name.zero {
  color: var(--clr-secondary);
}
.msg-header .time {
  font-weight: 400;
  color: var(--clr-gray-400);
}

.msg-interactive-elements {
  display: flex;
  gap: 12px;
  width: -webkit-fill-available;
}

.msg-interactive-elements button {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: var(--clr-primary);
  border-radius: 12px;
}

.msg-interactive-elements button:hover {
  background: var(--clr-primary-dark);
}

.msg-interactive-elements textarea {
  resize: none;
  width: -webkit-fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  padding: 12px 20px;
  background: var(--clr-gray-white);
  border: 1px solid var(--clr-gray-100);
  border-radius: 12px;
  font: inherit;
}
.msg-interactive-elements textarea::placeholder {
  color: var(--clr-gray-300);
}

/* Login Page */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 20px;
  width: 400px;
  /* height: 464px; */

  background: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form input,
.login-form button {
  width: 352px;
  height: 48px;
  padding: 12px 20px;
  border-radius: 12px;
  font: inherit;
}

.login-form button {
  background: var(--clr-primary-light);
  color: var(--clr-gray-white);
}

.input-control input {
  border: 1px solid var(--clr-gray-100);
}
.input-control input::placeholder {
  color: var(--clr-gray-300);
}
.input-control input:focus {
  outline: none;
}
.input-control.error input {
  border: 1px solid var(--clr-system-danger);
}
.input-control #error-message {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: var(--clr-system-danger);
  display: none;
}
.input-control.error #error-message {
  display: block;
}
.login-form button:hover {
  background: var(--clr-primary-dark);
}
.login-form .button.active {
  background: var(--clr-primary);
}

/* Rating Page */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  max-width: 1026px;
  margin: 144px auto 80px auto;

  background-color: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

.table {
  display: grid;
  grid-template-columns: 4.074fr 1fr 1fr 1fr 1.24fr;
}

.table-headers {
  font-weight: 500;
}

.table > div {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 48px;
  box-shadow: inset 0px -1px 0px #eeeff5;
}

.table .win {
  color: var(--clr-system-success);
}
.table .lose {
  color: var(--clr-system-danger);
}
