<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="center">
      <div class="login-container">
        <div class="img">
          <img src="../imgs/dog.svg" alt="dog" />
        </div>
        <h1>Войдите в игру</h1>

        <form action="/login" method="POST" class="login-form" id="login-form">
          <div class="inputs-group">
            <div class="input-control">
              <input
                type="text"
                class="input"
                id="login"
                name="login"
                placeholder="Логин"
                value="<%= oldInput.login %>"
              />
            </div>
            <div class="input-control <%= isError? 'error' : ' ' %>">
              <input
                type="password"
                class="input"
                id="password"
                name="password"
                placeholder="Пароль"
                value="<%= oldInput.password %>"
              />
              <% if (errorMessage) { %>
              <p id="error-message"><%= errorMessage %></p>
              <% } %>
            </div>
          </div>
          <button class="button" type="submit">Войти</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
