<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>

    <div class="table-container">
      <h1>Рейтинг игроков</h1>
      <div class="table">
        <div class="table-headers">ФИО</div>
        <div class="table-headers">Всего игр</div>
        <div class="table-headers">Победы</div>
        <div class="table-headers">Проигрыши</div>
        <div class="table-headers">Процент побед</div>
        <% players.forEach(function(player) { %>
        <div><%= player.name %></div>
        <div><%= player.games %></div>
        <div class="win"><%= player.win %></div>
        <div class="lose"><%= player.lose %></div>
        <div><%= player.winRate %> %</div>

        <% }); %>
      </div>
    </div>
  </body>
</html>
